
# Dataset
dataset_med.csv
*.csv

# Models
# Allow joblib
# *.joblib

# Compiled python files
__pycache__/
*.py[cod]

# Logs
# Ignore logs but NOT requirements.txt
*.log
train_log.txt
eda_output.txt

# Virtual env
.env
venv/
