
# Dataset
dataset_med.csv
*.csv

# Models
# Allow joblib (except really large ones, but we are managing that via light training)
# *.joblib

# Compiled python files
__pycache__/
*.py[cod]

# Logs
*.txt

# Virtual env
.env
venv/
